.usearch_results {
	position:relative
}
#usearch_loading.active {
	-moz-animation:spin 1s infinite linear;
	-webkit-animation:spin 1s infinite linear;
	background-color:rgba(0, 0, 0, 0);
	border:5px solid rgba(0, 0, 0, 0.5);
	border-left:5px solid rgba(0, 0, 0, 0);
	border-radius:50px;
	border-top:5px solid rgba(0, 0, 0, 0);
	box-shadow:0 0 35px #999;
	height:50px;
	left:50%;
	margin-left:-50px;
	opacity:.9;
	position:absolute;
	top:10px;
	width:50px;
}
#usearch_loading1.active {
	-moz-animation:spinoff 1s infinite linear;
	-webkit-animation:spinoff 1s infinite linear;
	background-color:rgba(0, 0, 0, 0);
	border:5px solid rgba(0, 0, 0, 0.3);
	border-left:5px solid rgba(0, 0, 0, 0);
	border-radius:50px;
	border-top:5px solid rgba(0, 0, 0, 0);
	box-shadow:0 0 15px #999;
	height:30px;
	left:50%;
	margin-left:-40px;
	opacity:.9;
	position:absolute;
	top:20px;
	width:30px;
}
@-moz-keyframes spin {
	0% {
		-moz-transform:rotate(0deg)
	}
	100% {
		-moz-transform:rotate(360deg)
	}
}
@-moz-keyframes spinoff {
	0% {
		-moz-transform:rotate(0deg)
	}
	100% {
		-moz-transform:rotate(-360deg)
	}
}
@-webkit-keyframes spin {
	0% {
		-webkit-transform:rotate(0deg)
	}
	100% {
		-webkit-transform:rotate(360deg)
	}
}
@-webkit-keyframes spinoff {
	0% {
		-webkit-transform:rotate(0deg)
	}
	100% {
		-webkit-transform:rotate(-360deg)
	}
}
.usearch-meta {
	color:#999
}
.usearch-excerpt {
	margin-bottom:5px
}
#usearch_response.loading {
	background:url('../img/ajax-loader.gif') no-repeat center 30px;
	min-height:62px;
}
.VS-search {
	color:black;
	line-height:1;
	font-family:Arial, sans-serif;
}
.VS-icon-cancel.hidden {
	background:none !important
}
.VS-search div, .VS-search span, .VS-search a, .VS-search img, .VS-search ul, .VS-search li, .VS-search form, .VS-search label, .VS-interface ul, .VS-interface li, .VS-interface {
	border:0;
	font-size:100%;
	font-style:inherit;
	font-weight:inherit;
	margin:0;
	outline:0;
	padding:0;
	vertical-align:baseline;
}
.VS-search {
	color:black;
	line-height:1;
}
.VS-search .search_input.is_editing input {
	color:#202020
}
.VS-search .search_facet.is_selected.usearch-error {
	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	background-color:#FF9494;
	background-image:-moz-linear-gradient(top, #FF9494, #d76363);
	background-image:-webkit-gradient(linear, left top, left bottom, from(#FF9494), to(#d76363));
	background-image:linear-gradient(top, #FF9494, #d76363);
	border:1px solid #b34141;
	border-radius:16px;
	margin-left:-3px;
}
.VS-search .search_facet.is_selected .search_facet_remove {
	background-position:0 -11px;
	filter:alpha(opacity = 40);
	left:3px;
	opacity:.4;
}
.VS-search .search_facet.is_selected .category {
	margin-left:3px
}
.VS-search .search_facet.is_editing .category, .VS-search .search_facet.is_selected .category {
	color:#000
}
.VS-search .search_facet.is_editing input, .VS-search .search_facet.is_selected input {
	color:#000
}
.VS-search .search_facet.is_selected {
	-moz-border-radius:16px;
	-webkit-border-radius:16px;
	background-color:#d2e6fd;
	background-image:-moz-linear-gradient(top, #d2e6fd, #b0d1f9);
	background-image:-webkit-gradient(linear, left top, left bottom, from(#d2e6fd), to(#b0d1f9));
	background-image:linear-gradient(top, #d2e6fd, #b0d1f9);
	border:1px solid #6eadf5;
	border-radius:16px;
	margin-left:-3px;
}
.VS-search .VS-search-box.VS-focus {
	-moz-box-shadow:inset 0 0 3px #acf;
	-webkit-box-shadow:inset 0 0 3px #acf;
	border-color:#acf;
	box-shadow:inset 0 0 3px #acf;
}
.VS-search .VS-search-inner {
	margin:0 20px 0 28px;
	position:relative;
}
.VS-search .VS-icon-search {
	left:9px;
	position:absolute;
	top:8px;
}
.VS-search .VS-icon-search {
	background-position:-11px 0;
	height:12px;
	width:12px;
}
.VS-search .VS-icon-cancel, .VS-search .VS-icon-search {
	background-image:url("../img/icons.png");
	background-repeat:no-repeat;
}
.VS-search .VS-icon-cancel {
	background-image:url(../img/icons.png);
	background-position:0 0;
	cursor:pointer;
	height:11px;
	position:absolute;
	right:9px;
	top:8px;
	width:11px;
}
.VS-search .VS-icon-cancel:hover {
	/* background-position: center -11px; */
	background-position:0 -11px;
	background-repeat:no-repeat;
}
.VS-search .VS-search-box {
	-moz-border-radius:16px;
	-moz-box-shadow:inset 0 0 3px #ccc;
	-webkit-border-radius:16px;
	-webkit-box-shadow:inset 0 0 3px #ccc;
	background:transparent;
	background-color:#fafafa;
	border:2px solid #ccc;
	border-radius:16px;
	box-shadow:inset 0 0 3px #ccc;
	cursor:text;
	height:auto;
	min-height:28px;
	position:relative;
}
.VS-search .search_input {
	float:left;
	height:28px;
	margin-left:-1px;
}
.VS-search .search_input input {
	height:22px;
	line-height:10px;
	margin-top:-4px;
	min-width:4px;
	padding:6px 3px 6px 2px;
	position:relative;
	z-index:100;
}
.VS-search .search_facet {
	border:1px solid transparent;
	float:left;
	height:20px;
	margin:0;
	margin:3px -3px 3px 0;
	padding:0 0 0 14px;
	position:relative;
}
.VS-search-inner div.search_input.not_editing.not_selected:first-child {
	width:0px;
}
.VS-search .mobiletweak {
	width:100% !important;
}
.VS-search .iosnotice {
	width:90%;
	background-color:#D2E6FD;
	font-size:8pt;
	line-height:12pt;
	margin:0 auto;
	padding:10px;
	border:1px solid #6EADF5;
	border-top:none;
}
.VS-search .search_facet .search_facet_input_container {
	float:left
}
.VS-search .search_facet .search_facet_remove {
	left:0;
	position:absolute;
	top:4px;
}
.VS-search .search_facet .search_facet_remove:hover {
	opacity:1
}
.VS-search .search_facet .category {
	color:#808080;
	cursor:pointer;
	float:left;
	font-size:10px;
	font-weight:bold;
	line-height:13px;
	padding:8px 0 5px;
	padding:4px 0 0;
	text-transform:uppercase;
}
.VS-search .search_facet input {
	color:#000;
	font-size:13px;
	height:16px;
	line-height:16px;
	margin:0;
	padding:0;
	padding:5px 0 5px 4px;
	padding-bottom:2px;
	padding-right:3px;
	padding-top:1px;
	position:relative;
	width:auto;
	z-index:100;
}
.VS-search .search_input {
	float:left;
	height:28px;
	margin-left:-1px;
}
.VS-search .VS-icon {
}
.VS-search ::selection {
	background:none
}
.VS-interface, .VS-search .dialog, .VS-search input {
	font-family:"Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, sans-serif !important;
	line-height:1.1em;
}
.VS-search :focus {
	outline:0
}
.VS-search input {
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	background:transparent;
	border:none;
	box-shadow:none;
	display:block;
	font-size:16px;
	line-height:20px;
	margin:0;
	outline:none;
	padding:4px;
	width:100%;
}
.VS-search input, .VS-search .VS-input-width-tester {
	color:#808080;
	float:left;
	font:13px/17px Helvetica, Arial;
	padding:6px 0;
}
.VS-search input {
	width:100px
}
.VS-search input:active, .VS-search input:focus {
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	border:none;
	box-shadow:none;
}
.VS-search ol, .VS-search ul {
	list-style:none
}
.VS-search.VS-focus input {
	color:#606060
}
.VS-interface.ui-autocomplete {
	-moz-box-shadow:3px 4px 5px -2px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow:3px 4px 5px -2px rgba(0, 0, 0, 0.5);
	background-color:#f6f6f6;
	border:1px solid #c0c0c0;
	border-top:1px solid #d9d9d9;
	box-shadow:3px 4px 5px -2px rgba(0, 0, 0, 0.5);
	cursor:pointer;
	font-size:13px;
	margin:0;
	max-height:240px;
	max-width:220px;
	min-width:80px;
	opacity:.97;
	overflow-x:hidden;
	overflow-y:auto;
	padding:0;
	position:absolute;
	top:5px;
	width:auto;
	z-index:10000;
}
.VS-interface.ui-autocomplete .ui-autocomplete-category {
	background-color:#b7b7b7;
	border-bottom:1px solid #a2a2a2;
	border-top:1px solid #a2a2a2;
	color:white;
	cursor:default;
	font-size:11px;
	font-weight:bold;
	padding:4px 4px 4px;
	text-shadow:0 -1px 0 #999;
	text-transform:capitalize;
}
.VS-interface.ui-autocomplete .ui-corner-all {
	border-radius:0
}
.VS-interface.ui-autocomplete .ui-menu-item {
	float:none
}
.VS-interface.ui-autocomplete .ui-menu-item .ui-state-hover {
	background-color:#6483f7;
	background-image:-moz-linear-gradient(top, #648bf5, #2465f3);
	background-image:-webkit-gradient(linear, left top, left bottom, from(#648bf5), to(#2465f3));
	background-image:linear-gradient(top, #648bf5, #2465f3);
	border-bottom:1px solid #1459e9;
	border-left:none;
	border-right:none;
	border-top:1px solid #5b83ec;
	color:white;
	margin:0;
}
.VS-interface.ui-autocomplete .ui-menu-item a {
	background-color:#f8f8f8;
	background-image:-moz-linear-gradient(top, #f8f8f8, #f3f3f3);
	background-image:-webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f3f3f3));
	background-image:linear-gradient(top, #f8f8f8, #f3f3f3);
	border-bottom:1px solid #f0f0f0;
	border-radius:none;
	border-top:1px solid #fafafa;
	color:#000;
	display:block;
	line-height:1;
	outline:none;
	padding:3px 4px 5px;
}
.VS-interface.ui-autocomplete .ui-menu-item a:active {
	outline:none
}
.VS-interface.ui-autocomplete li {
	list-style:none;
	width:auto;
}
.VS-search .search_facet.search_facet_maybe_delete .category, .VS-search .search_facet.search_facet_maybe_delete input {
	color:darkred
}
